.App{
    padding: 0;
    margin: 0;
}

.val-txt{
    padding-left: 100px;
}

.pot-txt{
    padding-top: -100px;
}

.pot-1{
    margin-left: 70px;
    width: 600px;
}

.pot-2{
    margin-left: 10px;
}

.msg-inp{
    width: 500px;
}

.no-underline{
    margin: 20px 30px;
}

.nav-link{
    color: black;
}

#email{
    width: 500px;
}

#value{
    width: 500px;
}

#mobile{
    width: 500px;
}

.sub-but{
    width: 30%;
}

.head-nav{
    border-bottom: 3px solid orange;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.home-check{
    background-image: url(/src/assets/bg.jpg);
    background-size: cover;
    height: 100vh;
    max-width: 100%;
    
}

.service-text{
    margin: 0 200px;
}

.about-text{
    padding-top: 200px;
}



.about{
    background-image: url(./assets/bg-image.jpg);
    background-size: cover;
    height: 500px;
    width: 100%;
}

.p-card .p-card-title {
    color: orange;
}


/* .p-card .p-card-header{
    height: 200px;
} */

/* .p-card{
    height: 50vh;
    max-width: 50vh;
} */


.company{
    max-width: 100%;
    padding-top: 290px;
    padding-left: 290px;
}

/* .card{
    margin-top: 5%;
} */

title{
    color: orange !important;
}

@media only screen and (max-width: 768px){
    /* .p-card{
        height: 100vh;
        max-width: 100vh;
    } */
    .company{
        max-width: 100%;
        padding-top: 290px;
        padding-left: 100px;
    }
    .service-text{
        margin: 0 0;
    }
}


@media  only screen and (max-width: 600px) {
    .company{
        width: 100%;
        padding-top: 100%;
        padding-left: 0;
    }

    .about{
        height: 300px;
        /* width: 100%; */
    }

    .home-check{
         background-position: 50%;
    }
    .brand .ps-5{
        margin-left: 0 !important;
        padding-left: 0 !important;
         
    }

    .about-text{
        padding-top: 120px;
    }

    #email{
        width: 320px;
    }

    #value{
        width: 320px;
    }

    #mobile{
        width: 320px;
    }
    
    /* .nav-link{
        padding-top: 100px;
    } */

    .val-txt{
        padding-left: 0px;
    }

    .msg-inp{
        width: 320px;
    }

    .pot-1{
        margin-left: 0px;
        width: 500px;
    }

    .pot-2{
        margin-left: 0px;
    }

    .p-menuitem{
        margin-left: 10px;
    }
    
}